body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(153, 153, 153, .60);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.header-banner {
  font-size: 3em;
}
.carousel-indicators {
  margin-bottom: -40px;
}

.indicator-dot {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  background-color: #006D77 !important;
  transition: opacity 1s ease !important;
  
}

.bungkus-chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color: white !important;
}

/* Menu Section */
.menu h2,
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row-coffee {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row-coffee .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row-coffee .menu-card img {
  border-radius: 50%;
  width: 240px;
}

.menu .row-coffee .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.input-group-append {
  cursor: pointer;
}

.container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  padding: 10px;
}

.container .image-container .image{
  height: 250px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(153, 153, 150, .60);
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.container .image-container .image:hover img{
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0; left: 0;
  background: rgba(153, 153, 150, .60);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

 .popup-image span{
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

.progressSection .holder{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.progressSection .holder > div{
  display: flex;
  justify-content: space-between;
}

.star-light{
  color:#bbb5!important
}


.text-warning{
  color:rgb(250, 143, 43)!important
}


.submit_star{
  cursor: pointer;
}

@media (max-width:746px) {
  .container .popup-image img{
    width: 95%;
  }
}